
html {
    position: relative;
    height: 100%;
    width:100%;
    z-index: 0;
}
body {
    color: Black;
    width:100%;
    height: 100%;
}

#check {
    display: none;
}
#check:checked ~ .menu {
        width: 290px;
        
    }
.menu {
    margin-left:0px;
    position: fixed;
    top: 53px;
    width: 0px;
    height: 90%;
    background: white;
    transition: all 550ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    -webkit-box-shadow: 7px 0px 5px 0px rgba(181,181,181,1);
    -moz-box-shadow: 7px 0px 5px 0px rgba(181,181,181,1);
    box-shadow: 7px 0px 5px 0px rgba(181,181,181,1);
}

    .menu li {
        list-style: none;
        padding: 20px;
        color: black;
        cursor: pointer;
        transition: all 300ms;
        display: block;
        width: 250px;
    }

        .menu li:hover {
            color:white;
            background-color:#17AC93;
        }



.buscar {
    margin-top: 2px;
    border: none;
    background-color: #45BDA9;
    opacity: .8;
    font-size:20px;
    float:left;
    margin-left:23px;
}
#divmenu {
    float: left;
    padding-left: 25px;
    padding-top: 15px;
    padding-right: 300px;
    
    
}


.divUsuario{
    margin-top:8px;
    float:right;
    color:white;
    font-size:20px;
    margin-right:10px;
}


.divbuscar:hover {
    filter: opacity(1);

}

.divbuscar {
    filter: opacity(.7);
    float: left;
    background-color: #45BDA9;
    margin-top:8px;
    margin-left:10px;
    width:500px;
    height: 35px;



}
.btnbuscar {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    float:left;
    margin-left:20px;
    margin-top:8px;
    background-color: #45BDA9;
    width: 24px;
    height: 24px;
    background-image: url('../IMG/png/lupa-para-buscar.png');
    background-repeat: no-repeat;
   
}
.btnSalir {
    border-style: none;
    margin-right: 10px;
    margin-top: 6px;
    margin-left: 100px;
    background-image: url('../IMG/png/boton-salir-a-aplicacion.png');
    background-repeat: no-repeat;
    background-color: #17AC93;
}
 .btnSalir:hover {
        cursor: pointer;
        
    }

.btnmenu:hover {
        cursor: pointer;
    }


.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(117,116,117,1);
    -moz-box-shadow: 0px 2px 6px 0px rgba(117,116,117,1);
    box-shadow: 0px 2px 6px 0px rgba(117,116,117,1);
}

    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #17AC93 url('../grd_head.png') repeat-x 50% top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
    }

    .mGrid .alt {
        background: #fcfcfc url('../grd_alt.png') repeat-x 50% top;
}

    .mGrid .pgr {
        background: #424242 url('../grd_pgr.png') repeat-x 50% top;
}

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

h1{
    text-align:center;

}





.Usuario {
    padding-right: 90px;
    font-size: larger;
    font: bold;
    font-style:italic;
}



header {
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #17AC93;
    opacity: .800;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(117,116,117,1);
    -moz-box-shadow: 0px 3px 7px 0px rgba(117,116,117,1);
    box-shadow: 0px 3px 7px 0px rgba(117,116,117,1);
    position:fixed;
}
label {
    color: white;
    font-size: 20px;
    background: url(IMG/png/ico8-menú24.png);
    cursor: pointer;
}
a {
    text-align: center;
    color: black;
    text-decoration: none;
}






form {
    border: none;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 3px 0px 7px 0px rgba(117,116,117,1);
    -moz-box-shadow: 3px 0px 7px 0px rgba(117,116,117,1);
    box-shadow: 3px 0px 7px 0px rgba(117,116,117,1);
}





article {
    float:right;
    width: 900px;
    background-color:white;
    position:center;
    text-align: center;
    opacity: 0.8;
    padding-right:124px;
    
}
