body {
    color: Black;
    background-color: #ffffff;



}


h1{
    text-align:center;

}

.Salir {
    padding-right: 10px;
    
}
.Tabla {
    border-color:aliceblue;
    border:none;
}


.Usuario {
    padding-right: 90px;
    font-size: larger;
    font: bold;
    font-style:italic;
}



header {
    top:0;
    width:100%;
    height:30px;
    text-align: right;
    background-color: #8bc34a;
    opacity: .800;
}
nav {
    background-color: black;
    width:30px;
    height:100%;
}

a{
    text-align:center;
}





article {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: gainsboro;
    opacity:0.8;
    border:groove;
}
